@charset "UTF-8";

@import "components/vars";
@import "components/normalize";
@import "components/grid";
@import "components/tabs";
@import "components/buttons";
@import "components/icons";
@import "components/fonts";
@import "components/texts";
@import "components/spaces";
@import "components/mediaQuery";
@import "components/helpers";
@import "components/menu";
@import "components/breadcrumb";

@import "components/footer";

//index
@import "pages/index";
@import "pages/infoPages";

img{
    max-width: 100%;
}

#logo{
    width: 20%;
    height: auto;
    display: block;
    z-index: 99;
    margin-top: 30px;
    margin-left: 20px;
}


