.btn-line{
    border: 2px solid $azulEscuro;
    color: $azulEscuro;
    background-color: white;
    width: 100%;
    padding: 12px 15px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    &:hover{
        border: 2px solid $amarelo;
    }
    &:before{
        content: " ";
        position: absolute;
        background-image: $patternAzulEscuro;
        background-repeat: repeat;
        background-size: 30px;
        width:100%;
        height:55px;
        bottom: -10px;
        left: -10px;
        z-index: -5;
    }
    
    i{
        margin-right: 20px;
    }
}

.btn-naked{
    background: transparent;
    border: 0;
    padding: 1.0rem;
}

.btn-white{
    color: $azul;
    border: 0;
    border-top: #ddd 2px solid;
    margin-top: -2px;
    background-color: #fff;
    box-shadow: none;
    padding: 15px;
    width: 100%;
    
    &:hover{
        background-color: $azul;
        color: #fff!important;
    }
}