.ui-widget.ui-widget-content{
    margin: 0 auto;
    width: 100%;
    border: 0!important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid transparent;
    background: $amarelo;
    color: #ccc;
    border-radius: 50px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0!important;
    background: #fff!important;
    text-align: center!important;
    /* color: #454545; */
}

.ui-widget-header {
    border: 0!important;
    background: #fff!important;
    color: $azulEscuro!important;
}