.ui-widget.ui-widget-content{
    margin: 0 auto;
    width: 100%;
    border: 0!important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid transparent;
    background: $amarelo;
    color: #ccc;
    border-radius: 50px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0!important;
    background: #fff!important;
    text-align: center!important;
    @media #{$medium-and-down} {
        padding: 15px 0;
        font-size: 1.2rem;
    }
}

.ui-widget-header {
    border: 0!important;
    background: #fff!important;
    color: $azulEscuro!important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid $amarelo!important;
    background: $amarelo!important;
    color: $azulEscuro;
}

.ui-state-active{
    position: relative;
    color: $azul!important;
    &:after{
        content: " ";
        background: $azul;
        width: 5px;
        height: 5px;
        position: absolute;
        border-radius: 50%;
        z-index: 1;
        left: 40%;
        top: 0;
    }
}