// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf ttf) {
	$src: null;

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);
    
    $extmods: (
		otf: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

$circular-path: '../fonts/Circular';
$lora-path: '../fonts/Lora';
$maison-path: '../fonts/maison';


$circular: [
//    "CircularStd-Black",
//    "CircularStd-BlackItalic",
//    "CircularStd-Bold",
//    "CircularStd-BoldItalic",
//    "CircularStd-Bold",
//    "CircularStd-BoldItalic",
//    "CircularStd-Book",
//    "CircularStd-BookItalic",
    "CircularStd-Medium"
//    "CircularStd-MediumItalic"
    ];
$circular-styles:(
//    [700, normal],
//    (700, italic),
//    (500, normal),
//    [500, italic],
//    (normal, normal),
    (normal, italic)
);

//@include font-face(Circular, $circular-path, 500, normal, eot);
//@include font-face(Lora, $lora-path, 500, normal, ttf);
//@include font-face(Maison, $maison-path, 500, normal, ttf);

$circular: (
    ("CircularStd-Black", 900, normal),
    ("CircularStd-BlackItalic", 7900, italic),
    ("CircularStd-Bold", 700, normal),
    ("CircularStd-BoldItalic", 700, italic),
    ("CircularStd-Book", 500, normal),
    ("CircularStd-BookItalic", 500, italic),
    ("CircularStd-Medium", null,null),
    ("CircularStd-MediumItalic", normal,normal)
);


    @each $circ in $circular{
        @include font-face("Circular", "../fonts/Circular/#{nth($circ, 1)}", nth($circ, 2), nth($circ, 3), otf);
    }


$loras: (
    ("Lora-Bold", 700, normal),
    ("Lora-BoldItalic", 700, italic),
    ("Lora-Italic", null, italic),
    ("Lora-Regular", null, null)
);
    @each $lora in $loras{
        @include font-face("Lora", "../fonts/Circular/#{nth($lora, 1)}", nth($lora, 2), nth($lora, 3), ttf);
    }

$maisons: (
    ("maisonneuebook", 900, normal),
    ("maisonneuebookitalic", 900, italic),
    ("maisonneuebold", 700, normal),
    ("maisonneuebolditalic", 700, normal),
    ("maisonneuemono", null,null),
    ("maisonneuemonoitalic", null, italic)
);
    @each $maison in $maisons{
        @include font-face("Maison", "../fonts/Maison/#{nth($maison, 1)}", nth($maison, 2), nth($maison, 3), ttf);
    }


html, body, h2{
    font-family: "Circular"
}

.maison{
    font-family: "Maison"
}

.circular{
    font-family: "Circular"
}

.lora{
    font-family: "Lora"
}
