$circular: [
//    "CircularStd-Black",
//    "CircularStd-BlackItalic",
//    "CircularStd-Bold",
//    "CircularStd-BoldItalic",
//    "CircularStd-Bold",
//    "CircularStd-BoldItalic",
//    "CircularStd-Book",
//    "CircularStd-BookItalic",
    "CircularStd-Medium"
//    "CircularStd-MediumItalic"
    ];

$lora: [
//    "Lora-Bold",
//    "Lora-BoldItalic",
//    "Lora-Italic",
    "Lora-Regular"
    ];

$maison: [
//    "maisonneuebold",
//    "maisonneuebolditalic",
    "maisonneuebook"
//    "maisonneuebookitalic",
//    "maisonneuemono",
//    "maisonneuemonoitalic"
    ];


@each $circ in $circular{
    @font-face {
        font-family: "Circular";
        src: local('#{$circ}.otf'),
            url(../fonts/Circular/#{$circ}.otf) format('opentype');
    }
}

@each $lor in $lora{
    @font-face {
        font-family: "Lora";
        src: local('#{$lor}.ttf'),
            url(../fonts/Lora/#{$lor}.ttf) format('truetype');
    }
}

@each $mai in $maison{
    @font-face {
        font-family: "Maison";
        src: local('#{$mai}.ttf'),
            url(../fonts/maison/#{$mai}.ttf) format('truetype');
    }
}

html, body, h2{
    font-family: "Circular"
    
}
/* pesos diferentes em fontes
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans.ttf");
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Oblique.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}
*/



//@mixin define-font($dir,$fontName, $ref, $types)
//{
//    @each $type in $types 
//    {
//        @font-face{
//            font-family: $font;
//            src: url(#{$dir}/#{$font}.ttf);
//        }
//    }
//}