#footer{
    background: #fff;
    padding: 15px 0 0;
    box-shadow: 0 -1px 1px 1px rgba(0,0,0,0.05);
    
    
    .caption{
        display: block;
        margin:5px 0 10px;
    }
    ul{
        padding: 0;
        margin: 0;
        text-align: center;
    }
    li{
        list-style: none;
        display: inline-block;
    }
}
.yellow-list{
    width: 100%;
    clear: both;
    background:$azulEscuro;

    a{
        color: $amarelo;
        display: block;
        font-size: 12px;
        font-weight: lighter;
        padding: 30px 0px 25px;
            
        &:after{
            content:"|";
            display: inline-block;
            color:$amarelo;
            margin: 0 40px;
        }
    }
}

