$link-color: $azul;
$primary-color: $azulEscuro;
$footer-font-color: $azulEscuro;
$footer-bg-color: $azulEscuro;
$footer-copyright-font-color: $azulEscuro;
$footer-copyright-bg-color: $azulEscuro;

$primary-color: $azulEscuro !default;
$primary-color-light: $azul !default;
$primary-color-dark: $azulEscuro !default;

$secondary-color: $azulEscuro !default;
$success-color: $azulEscuro !default;
$error-color: $azulEscuro !default;
$link-color: $azul !default;

// No Text Select
.no-select {
  user-select: none;
}
//@import "global";
@import "variables";
@import "forms/forms";


input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), textarea.materialize-textarea{
    margin-top: 5px;
    background: #fff;
    box-shadow: 0 -1px 1px 2px rgba(0,0,0,.02);
}

.date-input{
    &:after{}
}

textarea{
    height: 200px;
    background: #fff;
    box-shadow: 0 -1px 1px 2px rgba(0,0,0,.02);
}

.select-center{
    text-align-last:center;
}

.line-input{
    border: 0!important;
    border-bottom: 2px solid $azulEscuro!important;
    background-color: transparent!important;
    box-shadow: none!important
}