
*::-webkit-input-placeholder {
    color: #bbb;
}
*:-moz-placeholder {
    color: #bbb;
}
*::-moz-placeholder {
    color: #bbb;
}
*:-ms-input-placeholder {
    color: #bbb;
}

.left{float: left!important}
.right{float: right!important}

.rel{position: relative}


.white{
    background-color: #fff;
}

.shadow{
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    &:before{
        content: " ";
        position: absolute;
        background-image: $patternAzulEscuro;
        background-repeat: repeat;
        background-size: 40px;
        width: 100%;
        height: 100%;
        bottom: -10px;
        left: -10px;
        z-index: -5;
    }
}

@media #{$small-and-down} {
    .shadow-on-small{
        background: #fff;
        float: left;
        clear: both;
        position: relative;
        width: 100%;
        margin: 0 0 20px;
        &:before{
            content: " ";
            position: absolute;
            background-image: $patternAzulEscuro;
            background-repeat: repeat;
            background-size: 40px;
            width: 100%;
            height: 100%;
            bottom: -10px;
            left: -10px;
            z-index: -5;
        }
    }
}

@media #{$medium-and-down} {
    .shadow-on-med-and-down{
        background: #fff;
        float: left;
        clear: both;
        position: relative;
        width: 100%;
        margin: 0 0 20px;
        &:before{
            content: " ";
            position: absolute;
            background-image: $patternAzulEscuro;
            background-repeat: repeat;
            background-size: 40px;
            width: 100%;
            height: 100%;
            bottom: -10px;
            left: -10px;
            z-index: -5;
        }
    }
}

@media #{$large-and-up} {
    .shadow-on-large{
        background: #fff;
        float: left;
        clear: both;
        position: relative;
        width: 100%;
        margin: 0 0 20px;
        &:before{
            content: " ";
            position: absolute;
            background-image: $patternAzulEscuro;
            background-repeat: repeat;
            background-size: 40px;
            width: 100%;
            height: 100%;
            bottom: -10px;
            left: -10px;
            z-index: -5;
        }
    }
}



.grey-hr{
    border: 0;
    height: 2px;
    background: #eee;
    width: 100%;
    margin-top: 1.0rem;
//    border-bottom:1px #ddd solid;
}
.half-separator{
    border: 0;
    position: relative;
    width: 300px;
    margin: 2.5rem auto 2.0rem;
    
    @media #{$medium-and-down} {
        border-bottom:#eee 2px solid;
    }
}


.alert{
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    &.success{
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
    &.error{
        background-color: #f2dede;
        border-color: #ebcccc;
        color: #a94442;
    }
    
    &.info{
        background-color: #d9edf7;
        border-color: #bcdff1;
        color: #31708f;
    }
    &.warning{
        background-color: #fcf8e3;
        border-color: #faf2cc;
        color: #8a6d3b;
    }
}

.link-blocks{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        padding: 1rem 1.5rem;        
    }
    a{
        display: block;
    }
}