.left{float: left!important}
.right{float: right!important}

.rel{position: relative}

.m-b-0{
    margin-bottom: 0!important
}
.p-rl-05{
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}

.shadow{
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    &:before{
        content: " ";
        position: absolute;
        background-image: $patternAzulEscuro;
        background-repeat: repeat;
        background-size: 40px;
        width: 100%;
        height: 100%;
        bottom: -10px;
        left: -10px;
        z-index: -5;
    }
}


.half-separator{
    border: 0;
    position: relative;
    width: 300px;
    margin: 2.5rem auto 2.0rem;
    
    @media #{$medium-and-down} {
        border-bottom:#eee 2px solid;
    }
}