$menu-icons: [
    "acervo",
    "busca",
    "contato",
    "equipe",
    "eventos",
    "inicio",
    "login",
    "projetos",
    "publicacoes"
    ];

.ic-calendario{
        background:{
            image: url(../img/calendario.png);
            repeat: no-repeat;
            position:center center;
        }
        width: 34px;
        display: inline-block;
        color:$azul;
        color: #0861FF;
        font-weight: 500;
        padding: 13px 0 3px;
        text-align: center;
        font-style: normal;    
    }

.sun-search{
        position: relative;
        margin: 30px 0;
        &:before{
            content: "";
            position: absolute;
            width: 35px;
            height: 35px;
            margin-left: 3px;
            background: $amarelo;
            border-radius: 50%;
        }
    }

.mini-ics{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

    .ic-circle-user{
        @extend .mini-ics;
        background:{
            image: url(../img/circle-user.png);
            repeat: no-repeat;
            position:center center;
        }
    }

    .ic-clock{
        @extend .mini-ics;
        background:{
            image: url(../img/clock.png);
            repeat: no-repeat;
            position:center center;
        }
    }
    .ic-map{
        @extend .mini-ics;
        background:{
            image: url(../img/map.png);
            repeat: no-repeat;
            position:center center;
        }
    }

.tiny-ics{
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    
    &.ic-clock{
        background:{
            image: url(../img/clock-mini.png);
            repeat: no-repeat;
            position:center center;
        }
    }
    &.ic-arroba{
        background:{
            image: url(../img/arroba.png);
            repeat: no-repeat;
            position:center center;
        }
    }
}

.separador{
    background:{
        image: url(../img/separador.svg);
        repeat: no-repeat;
        position:center center;
        color:transparent;
    }
    width: 63px;
    height: 11px;
    position: relative;
    margin: 0 auto;
    border: 0;
}


.ic{
    background-size: 100%;
    background-position:center center;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    
}
@each $menu-icon in $menu-icons{
    .ic-#{$menu-icon} {
        @extend .ic;
        background-image: url(../img/icones-menu/#{$menu-icon}.svg);
    }
}

.ic-sun{
//    position: absolute;
    background: $amarelo;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    z-index: 2;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    
    &:after{
        content: " ";
        position: absolute;
        background: white;
        width: 60px;
        height: 10px;
        top: -20px;
        z-index: 2;
        left: -20px
    }
    
    i{
      margin-left: -1px; 
    }
}
.ic-15{
    width: 15px!important;
    height: 15px!important;
}

.ic-tiny{
    width: 20px!important;
    height: 20px!important;
}

.ic-30{
    width: 30px;
    height: 30px;
}
