.ilustra-projetos{
    background:{
        image: url(../img/Projetos.svg);
        position:center right;
        repeat: no-repeat;
    }
}

.ilustra-eventos{
    background:{
        image: url(../img/Eventos.svg);
        position:center right;
        repeat: no-repeat;
    }
}