.pagination{
    float: left;
    clear: both;
    width: 100%;
    margin: 1rem;
    text-align: center;
    ul{
        padding: 0;
        list-style: none;
        width: auto;
        display: inline-block;
    }
    
    li{
        display: inline-block;
        margin: 0;
    }
    
    a{
        padding: .7rem 1rem;
        background: #fff;
        display: block;
        color: $azulEscuro;
        background-image: $patternAzul;
        background-size: 40px;
        border: transparent 3px solid;
        
        &:hover, &.active{
            border: $amarelo 3px solid;
            background:#fff;
        }
    }
}

.page-results{
    display: block;
    text-align: center;
    padding-top: 5.0rem;
    
    .caption{
        font-size: 1.5rem;
        vertical-align: text-bottom;
    }
}

