.m-r-0{margin-right: 0!important}
.p-rl-01{padding-right: 1rem; padding-left: 1rem;}
.m-tb-02{padding-right: 2rem; padding-left: 2rem;}

.m-b-0{margin-bottom: 0!important}
.m-b-05{margin-bottom: 5px!important}
.m-b-10{margin-bottom: 10px!important}
.m-t-10{margin-top: 10px!important}
.m-t-20{margin-top: 20px!important}
.m-t-30{margin-top: 30px!important}

.m-tb-0{
    margin-top: 0!important;
    margin-bottom: 0!important
}

.m-tb-10{
    margin-top: 10px!important;
    margin-bottom: 10px!important
}

.m-r-10{margin-right: 10px}

.p-t-10{ padding-top: 10px!important;}
.p-rl-05{
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}
.p-rl-10{
    padding-right: 10px!important;
    padding-left: 10px!important;
}

.m-b-20{
    margin-bottom: 20px!important;
}

.m-tb-60{
    margin-top: 60px;
    margin-bottom: 60px;
}
.m-t-120{
    margin-top: 120px;
}
