.tabs{
    list-style: none;
    padding: 0;
    
    
    &.horizontal{
        border-top: 2px #eee solid;
        background: #fff;
        margin: 0 0 20px;
    
        .tab{
            padding:0;
            text-align: center;
            display: inline-block;
            a{
                color:$azulEscuro;
            }
            .active{
                border-bottom: 3px $azulEscuro solid;
            }
        }

        a{
            cursor: pointer;
            display: block;
            height: 100%;
            padding:15px 20px;
        }
    
    }
}