a{
    text-decoration: none;
    color: $azul;
}
.text-center{text-align: center}

.teal-title{
    color: $azulClaro;
    font-size: 2.2rem;
}

.e6-desc{
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.9rem;
    color: $azulEscuro;
}

.mini-a{
    font-size: 0.8rem;
    display: block;
    padding: 1.0rem 0;
}

.yellow-title{
    color:$amarelo;
    padding-bottom: 1.5rem;
    border-bottom: $cinza 1px solid;
}

.h4-title{
    color:$azulEscuro;
}

p{
    color: $cinza;    
}