a{
    text-decoration: none;
    color: $azul;
}
.text-center{text-align: center!important}
.text-left{text-align: left!important}
.text-right{text-align: right!important}

h1, .h1{
    font-size: 40px;
    line-height: 48px;
    font-family: "Circular";
    font-weight: 500;
}
h2, .h2{
    font-size: 36px;
    line-height: 48px;
    font-family: "Circular";
    font-weight: 500;
}
h3, .h3{
    font-size: 20px;
    line-height: 32px;
    font-family: "Circular";
    font-weight: 500;
}
h4, .h4{
    font-size: 20px;
    line-height: 24px;
    font-family: "Circular";
    font-weight: 500;
}

p, .p{
    color: $cinza; 
    font-family: "Circular";
    font-size: 16px;
    line-height: 24px;    
}

.mini-p{
    color: $cinza; 
    font-size: 0.8rem;
    padding: 5px 0;
}

.title-label{
    color: $azulEscuro;
    font-size: 0.8rem;
    padding: 1rem 0 0.5rem;
    line-height: 1rem;
    margin: 0;
    font-weight: bold;
}

.bold-title{
    font-size: 30px;
    line-height: 38px;
    font-family: "Circular";
    font-weight: 500;
}


.blue-text{
    color: $azul!important;
}

.marine-text{
    color: $azulEscuro!important;
}

.teal-title{
    color: $azulClaro;
    margin-bottom: 48px;
}


.error{
    color: darkred;
}

.teal-h3{
     color: $azulClaro;
    font-size: 20px;
    line-height: 24px;
    font-family: "Circular";
    font-weight: 500;
}

.blue-title{
    color:$azulEscuro;
    font-family: "Circular";
    margin-bottom: 0;
}

.grey-text{
    color:$cinza!important;
    font-family: "Circular";
}

.teal-subtitle{
    color: $azulClaro;
    position: relative;
    margin-bottom: 0;
    font-weight: 700;
}

.e6-desc{
    text-align: center;
    font-family: "Circular";
    font-size: 20px;
    line-height: 32px;
    color: $azulEscuro;
    margin-bottom: 36px;
}

.e6-bold{
    font-family: "Circular";
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: $azulEscuro;
}

.mini-a{
    font-size: 0.8rem;
    display: block;
    padding: 1.0rem 0;
}

.yellow-title{
    color:$amarelo;
    position: relative;
    margin-bottom: 0;
    font-weight: 700;
}

.yellow-down{
    border:0;
    border-bottom: #ddd 2px solid;
    margin-bottom: 20px;
    
    &:after{
        background: $amarelo;
        content: " ";
        width: 254px;
        height: 2px;
        position: absolute;
        left: 0;
    }
}

.teal-down{
    border:0;
    border-bottom: #ddd 2px solid;
    margin-bottom: 20px;
    
    &:after{
        background: $azulClaro;
        content: " ";
        width: 254px;
        height: 2px;
        position: absolute;
        left: 0;
    }
}

.marine-down{
    border:0;
    border-bottom: #ddd 2px solid;
    margin-bottom: 20px;
    
    &:after{
        background: $azulEscuro;
        content: " ";
        width: 254px;
        height: 2px;
        position: absolute;
        left: 0;
    }
}

.h3-title{
    color:$azulEscuro;
    font-family: "Circular";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
}



.caption{
    color: $azulEscuro; 
    font-family: "Circular";
    font-size: 12px;
    line-height: 16px;
    
}
.subcaption{
    color: $cinza; 
    font-family: "Circular";
    font-size: 11px;
    line-height: 16px;
}

.info-box{
    .caption, .subcaption{
        display: block
    }
    
    &.side-icon{
        i{
            margin-right: 15px;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            max-width: 60%;
            width: calc(100% - 60px);
        }
    }
}

.tags{
    padding: 0;
    margin: 0;
    
    .tag{
      margin-right: 12px; 
        margin-bottom: 12px;
        display: inline-block;
    }
    
    a{
        padding: 8px 12px;
        display: block;
        color: $azulEscuro;
        background-image: $patternAzul;
        background-size: 40px;
        font-size: 13px;
    }
}

.filter-tags{
    padding: 0;
    margin: 0;
    text-align: center;
    
    .filter-tag{
      margin-right: 12px; 
        margin-bottom: 12px;
        display: inline-block;
    }
    
    a{
        padding: 8px 12px;
        display: block;
        color: #fff;
        background-color: $azul;
        background-size: 40px;
        font-size: 13px;
        
        &:hover, &.active{
            color: $azulEscuro;
            background-color: #ddd;
        }
    }
}

.file-list{
    .event-name{
        font-size: 0.8rem;
         line-height: 1.1rem;
        margin-bottom: 1rem;
    }
    a{
        display: inline!important;
        font-style: italic;
    }
    .side-icon, .day-month{
        vertical-align: top!important;
    }
    
    .publicacao-box{
        width:100%!important
    }
}
.file-tags{
    padding: 0;
    margin: 0 0 .7rem;
    text-align: left;
    clear: both;
    float: left;
    width: 100%;
    
    .file-tag{
        margin: 0 .5rem 1rem 0;
        display: inline-block;
    }
    
    i{
        vertical-align: top;
    }
    
    a{
        padding: 8px 12px;
        display: block;
        color: $azul;
        background-color: #eee;
        background-size: 40px;
        font-size: 13px;
        
        &:hover, &.active{
            color: $azulEscuro;
            background-color: #ddd;
        }
    }
}




