a{
    text-decoration: none;
    color: $azul;
}
.text-center{text-align: center!important}
.text-left{text-align: left!important}
.text-right{text-align: right!important}

h1, .h1{
    font-size: 40px;
    line-height: 48px;
    font-family: "Circular";
    font-weight: 500;
}
h2, .h2{
    font-size: 36px;
    line-height: 48px;
    font-family: "Circular";
    font-weight: 500;
}
h3, .h3{
    font-size: 20px;
    line-height: 32px;
    font-family: "Circular";
    font-weight: 500;
}
h4, .h4{
    font-size: 20px;
    line-height: 24px;
    font-family: "Circular";
    font-weight: 500;
}

p, .p{
    color: $cinza; 
    font-family: "Circular";
    font-size: 16px;
    line-height: 24px;    
}

.bold-title{
    font-size: 30px;
    line-height: 38px;
    font-family: "Circular";
    font-weight: 500;
}

.blue-text{
    color: $azul!important;
}

.marine-text{
    color: $azulEscuro!important;
}

.teal-title{
    color: $azulClaro;
    margin-bottom: 48px;
}

.error{
    color: darkred;
}

.teal-h3{
     color: $azulClaro;
    font-size: 20px;
    line-height: 24px;
    font-family: "Circular";
    font-weight: 500;
}

.blue-title{
    color:$azulEscuro;
    font-family: "Circular";
    padding-bottom: 1.5rem;
    border-bottom: #797979 1px solid;
}


.teal-subtitle{
    color: $azulClaro;
    font-size: 1.5rem;
}

.e6-desc{
    text-align: center;
    font-family: "Circular";
    font-size: 20px;
    line-height: 32px;
    color: $azulEscuro;
    margin-bottom: 36px;
}

.e6-bold{
    font-family: "Circular";
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: $azulEscuro;
}

.mini-a{
    font-size: 0.8rem;
    display: block;
    padding: 1.0rem 0;
}

.yellow-title{
    color:$amarelo;
    padding-bottom: 1.5rem;
    border-bottom: $cinza 1px solid;
}

.h3-title{
    color:$azulEscuro;
    font-family: "Circular";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
}



.caption{
    color: $azulEscuro; 
    font-family: "Circular";
    font-size: 12px;
    line-height: 16px;
    
}
.subcaption{
    color: $cinza; 
    font-family: "Circular";
    font-size: 11px;
    line-height: 16px;
}

.info-box{
    .caption, .subcaption{
        display: block
    }
    
    &.side-icon{
        i{
            margin-right: 15px;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            max-width: 60%;
            width: calc(100% - 60px);
        }
    }
}

.tags{
    padding: 0;
    margin: 0;
    
    .tag{
      margin-right: 12px; 
        margin-bottom: 12px;
        display: inline-block;
    }
    
    a{
        padding: 8px 12px;
        display: block;
        color: $azulEscuro;
        background-image: $patternAzul;
        background-size: 40px;
        font-size: 13px;
    }
}
