
.result-list{
    list-style:none;
    margin:25px 0;
    padding:0;
    
    .card{
        background:#fff;
        box-shadow:0 1px 2px 1px rgba(0,0,0,.05);
        padding:10px 15px 10px;  
        margin-bottom: 20px;
        padding-bottom: 15px;
        float: left;
    }
    
    .side-icon{
        display:inline-block;
        vertical-align:middle;
        width:100px;
        height:70px;
        margin-right:20px;
        color:$azul;
        text-align:center;
        font-size: 0.8rem;
        
        i{
            margin: 20px 0;
            opacity: .2;
            width: 40px;
            height: 40px;
        }
    }
    .main-desc{
        display:inline-block;
        vertical-align:middle;
        width:80%;
        width: calc(100% - 140px)
    }
    
    .go-login{
        color:$azul;
        float: right;
        text-align:right;
        font-size: 0.7rem;
        padding-top:15px;
    }
    
    .go-login-top{
        color:$azul;
        font-size: 0.7rem;
    }
    
    .filesize{
        color:$azul;
        font-size: 0.8rem;
        display: block;
    }
    
    time{
        display: block;
        color:$cinza;
        font-size: 0.8rem;
        padding: 5px 0;
    }
    
    a{
        cursor: pointer;
        display: block;
    }
    
    .shadow{
        &:before{
            bottom: -5px;
            left: -10px;
        }
    }
    
    
    
}