
.team{
    overflow: auto; 
    overflow-x: auto;
    height: 580px;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;        
        display: block;
        width: 2000px;
    }
    
    li{
        background: #fff;
        width: 300px;
        padding: 20px 0 5px;
        display: inline-block;
        margin: 0 15px;
    }
    
    .person-info{
        padding: 10px 15px;
        text-align: center;
    }
    
    .social{
        text-align: center;
        a{
            display: inline-block;
            padding: 10px 5px;
            border: 1px $azul solid;
            width: 30px;
            font-size: 12px;
        }
    }
    
    .person{
        margin-bottom: 0;
    }
    
    .caption{
        margin-bottom: 30px;
    }
    
}