.news{
    overflow: auto;
    
    ul{
        padding: 0;
        margin: 0;
        width: 2000px;
    }
    .news-box{
        display: inline-block;
        vertical-align: top;
        width: 230px;
        margin-right: 1.5rem;
    }
    .info-block{
        padding-left: 10px;
    }
   .news-desc{
       height:72px;
       overflow: hidden;
       text-overflow: ellipsis;
    }
    .news-pic{
        width: 210px;
        height: 210px;
        background: #eee;
        margin: 0 auto;
        cursor: pointer;
        /*&:before{
            content: " ";
            position: absolute;
            background-image: $patternAzulEscuro;
            background-repeat: repeat;
            background-size: 40px;
            width:100%;
            height:210px;
            bottom: -10px;
            left: -10px;
            z-index: -5;
        }*/
    }
    
    .h3-title{
        height:72px;
    }
}

.big-news{
    .tags{
        @media #{$medium-and-down} {
            text-align: center;
        }
    }
    .news-pic{
        width: 100%;
        height: 210px;
        background: #eee;
        margin: 20px auto 0;
        cursor: pointer;
        /*&:before{
            content: " ";
            position: absolute;
            background-image: $patternAzulEscuro;
            background-repeat: repeat;
            background-size: 40px;
            width:100%;
            height:210px;
            bottom: -10px;
            left: -10px;
            z-index: -5;
        }*/
    }
    
}

.next-news{
    .shadow{
        background-color: #fff;
    }
    figure{
        margin: 0
    }
    img{
        width: 100%;
        height: auto;
    }
    .day-month{
        display: inline-block;
        vertical-align: middle;
        width: 36px;
        margin-right: 20px;
        margin-top: 15px;
        text-align: center;
        
    }
    .mouth{
        display: block;
        padding-top:5px
        
    }
    .next-info{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 60px);
    }
    
    h4{
        margin-bottom: 0;
        margin-top: 10px;
    }
    
    .pad{
        padding-left: 32px;
        padding-bottom: 32px;
    }
    
    .caption{
        display: block;
    }
    .subcaption{
        font-weight: lighter
    }
    
    .sm-link{
        padding-left: 15px;
    }
    
    .ic-calendario{
        background:{
            image: url(../img/calendario.png);
            repeat: no-repeat;
            position:center center;
        }
        width: 34px;
        display: inline-block;
        color:$azul;
        color: #0861FF;
        font-weight: 500;
        padding: 13px 0 3px;
        text-align: center;
        font-style: normal;    
    }
    
    button{
        margin: 20px auto 0
    }
    
    .icon{
        width: 18px;
        height: 18px;
        @media #{$medium-and-down} {
            padding: 17px 0
        }
    }
    .tabs{
        text-align: center;
        @media #{$large-and-up} {
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            margin-right: 15px;
        }
        .tab{
            margin: 15px 0
        }
        a{
            display: block;
            border-bottom: 2px #fff solid;
        }
        .active{
            border-bottom: 2px $azul solid;
        }
        
        @media #{$large-and-up} {
            a, .active{
                border-bottom: 0;
            }
        }
    }

    .desc-block{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 80px)
    }
    
    .desc{
        @media #{$large-and-up} {
            display: block !important;
        }
    }
    
}