@import "../components/variables";

.detalhes-evento{
    overflow: hidden;
    height: 120px;
    display: block;
}
    
.news{
    overflow: auto;
    
    ul{
        padding: 0;
        margin: 0;
        width: 2000px;
    }
    .news-box{
        display: inline-block;
        vertical-align: top;
        width: 230px;
        margin-right: 1.5rem;
    }
    .info-block{
        padding-left: 10px;
    }
   .news-desc{
       height:72px;
       overflow: hidden;
       text-overflow: ellipsis;
    }
    .news-pic{
        background: #eee;
        margin: 0 auto;
        cursor: pointer;
    }
    
    .h3-title{
        height:72px;
    }
}

.news-in-block{
    overflow:auto!important;

    ul{
        width: auto!important;
    }
    .news-box{
        padding-right: 2%;
        width: 30%!important;
        margin-right: 0;
        margin-bottom: 2.0rem
    }
}

.big-news{
    .tags{
        @media #{$medium-and-down} {
            text-align: center;
        }
    }
    .news-pic{
//        width: 100%;
//        height: 210px;
        background: #eee;
        margin: 20px auto 0;
        cursor: pointer;
    }
    
}

.next-news{
    .shadow{
        background-color: #fff;
    }
    figure{ margin: 0 }
    img{
        width: 100%;
        height: auto;
    }
    
    .mouth{
        display: block;
        padding-top:5px
        
    }
    .next-info{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 60px);
    }
    
    h4{
        margin-bottom: 0;
        margin-top: 10px;
    }
    
    .pad{ padding: 0 32px 32px }
    
    .caption, .subcaption{
        display: block;
        font-weight: lighter;
    }
    
    .sm-link{
        padding-left: 15px;
    }
    
    .ic-calendario{
        
        padding: 13px 0 3px;  
    }
    
    button{
        margin: 20px auto 0
    }
    
    .icon{
        width: 18px;
        height: 18px;
        @media #{$medium-and-down} {
            padding: 17px 0
        }
    }
    .tabs{
        text-align: center;
        @media #{$large-and-up} {
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            margin-right: 15px;
        }
        .tab{
            margin: 15px 0
        }
        a{
            display: block;
            border-bottom: 2px #fff solid;
        }
        .active{
            border-bottom: 2px $azul solid;
        }
        
        @media #{$large-and-up} {
            a, .active{
                border-bottom: 0;
            }
        }
    }

    .desc-block{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 80px)
    }
    
    .desc{
        @media #{$large-and-up} {
            display: block !important;
        }
    }    
}


.day-month{
        display: inline-block;
        vertical-align: middle;
        width: 36px;
        margin-right: 20px;
        margin-top: 15px;
        text-align: center;
    }




.side-events{
    @media #{$small-and-down} {
        position: relative;
        width: 100%;
        margin: -22px 0 20px;
        &:before{
            content: " ";
            position: absolute;
            background-image: $patternAzulEscuro;
            background-repeat: repeat;
            background-size: 40px;
            width: 97%;
            height: 100%;
            bottom: -10px;
            left: 2px;
            z-index: -5;
        }
    }
}
.list-events {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style: none;
    
    @media #{$medium-and-down} {
        margin: 0 5%;
        width: 90%;
    }
    
    a{
        padding: 15px 15px 20px;
        list-style: none;
        display: block;
        height: auto;
        width:95%;
        margin: 0 auto;

        &:hover, &.active{
            background: $azul;
            color: #fff;
            
            .subcaption{
                color: #fff;
            }
            
            span{
                color: #fff
            }
        }
    }
    
    h5{
        margin: 5px 0 0 
    }
    
    span{
        display: block;
        color: #797979
    }
    
    .event-block{
        width: calc(100% - 55px);
        display: inline-block;
        vertical-align: middle;
    }
    
    .aside{
        width: 85px;
        display: inline-block;
        text-align: center;
    }
    
    .day-month{
        margin-top:0;
        margin-right: 0;
        margin-left: 7px;
    }
    .half-separator{
        border-bottom:#eee 2px solid;
        width: 70%;
        margin: 0 auto;
    }
    
    .button-group{
        margin: 10px 0 15px;
        text-align: center;
        color: $azulEscuro;
        
        i{margin-bottom: 10px}
    }
    
    button:not(.btn-white){
        background: transparent;
        border: 0;
    }
}

.tiny-list{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.9rem;
    
    li{
        margin-bottom: 10px
    }
    
    a{
        color: $azul;
    }
    
    .subcaption{
        display: block;
    }
}


